@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #FFF;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  background-color: #212121;
}

/* Navbar */

.navbar {
  border-bottom: 1px solid black;
  z-index: 10;
}

.bg-custom-1, .container-fluid {
  background-color: #252525;
}

.clearfix {
  overflow: auto;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s; 
}

#navbar.scrolled {
  top: -100px; 
}


/* Home */

.home {
  background-color: #212121;
  padding: 169px 0 206px 0;
  height: auto;
}

.home-info h1 {
  color: #ffa552;
}

.home-info h2 {
  color: #f10404;
}

.home a {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 700;
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  background: #252525;
  box-shadow: 0 4px 2px -2px #111;
  transition: ease-in 0.2s;
}

.home a:hover {
  color: #252525;
  background-color: white;
}

/* About */

.about {
  background-color: #212121;
  padding: 0px 0 60px 0;
  height: auto;
}

.about-bar {
  border-top: 1px solid black;
  background-color: #1C1A1A;
}

.about-bar h1 {
  color: #ffa552;
}

.about img {
  border-radius: 5px;
  box-shadow: 0 4px 2px -2px #111;
}

.about-info-2 {
  margin-bottom: 50px;
}

.preview h1 {
  padding: 10px 50px 10px 50px;
  border-radius: 10px;
  background: #252525;
  box-shadow: 0 4px 2px -2px #111;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

/* Menu */

.menu {
  background-color: #212121;
  padding: 0px 0 60px 0;
  height: auto;
}

.menu-bar {
  border-top: 1px solid black;
  background-color: #1C1A1A;
}

.menu-bar h1 {
  color: #ffa552;
}

.menu-column {
  gap: 35px;
}

.menu-1 {
  width: 434px;
  height: 640px;
  background-color: #BE5B00;
  border-radius: 14px;
}

.menu-judul-1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

marquee { 
  padding-bottom: 18px;
}

/* Team */

.team {
  background-color: #212121;
  padding: 0px 0 60px 0;
  height: auto;
}

.team-bar {
  border-top: 1px solid black;
  background-color: #1C1A1A;
}

.team-bar h1 {
  color: #ffa552;
}

/* Footer */

footer {
  border-top: 1px solid black;
  background-color: #252525;
  padding: 60px 0 0 0;
  height: auto;
}

footer .img-logo {
  background-color: #212121;
  border-radius: 20px;
  box-shadow: 0 1px 2px 1px #111;
  padding-right: 15px;
}

footer .img-logo h4 {
  color: #ffa552;
}

footer .contact {
  background-color: #BE5B00;
  border-radius: 20px;
  box-shadow: 0 1px 2px 1px #111;
  padding-right: 15px;
}

.footer .logo { 
  margin: 0 15px 0 15px;
}

.footer p { 
  margin-top: 16px;
}